@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/background.png);*/
    background-size: cover;
    background-position: center;
}

.element {
    background-image: url(images/backgroundtest.png);
    background-size: cover;
    width: 600px;
    height: 600px;;
    margin-left: 200px;
    margin-top: 150px;
    position: absolute;

}

.header-text, .element {
    display: inline-block;
    vertical-align: top; /* Align the top edges of the divs */
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;    
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3BD16F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #3BD16F;
}

nav .fa-solid {
    display: none;       
}

/* Small Screen CSS */

@media only screen and (max-width: 600px) {
    /*#header {
        background-image: url(images/phone-background.png);
    }*/

    .element {
        background-image: url(images/phone-back.png);
        width: 100%;
        height: 100%;
        right: -160px;
        bottom: 0;
        z-index: 9;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #3BD16F;
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: left 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    
    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 16px;;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }




}